*{
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
.container{
    background: rgb(247 251 249);
    width: 100%;
    height: 100vh;
    display: flex;
}
.animation{
    width: 60%;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
}
.above-txt{
    display: flex;
    flex-direction: column;
}
.welcome{
    display: flex;
    width: 100%;
    padding-top: 30px;
    align-items: center;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left p{
    font-size: 13px;
    color: #6B7280;
}
.left p:nth-child(1){
    font-size: 12px;
    color: #6B7280;
}
.left h1{
    font-size: 21.9px;
    font-weight: 550;
}

.right{
    background: #E6F3F1;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
    gap: 4px;
    margin-top: -15px;
}
.right p{
    font-size: 11px;
    color: #6B7280;
}
.right .dot{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.right .dot div{
    height: 7px;
    width: 7px;
    background: #6B7280;
    border-radius: 50%;
}
.right .dot div:nth-child(2){
    background: #9a9faa9c;
}
.middle{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle .left-btn{
    width: 132px;
    background: #E6F3F1;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    gap: 2px;
    cursor: pointer;
}
.middle .left-btn p{
    font-size: 13px;
    height: 100%;
    width: 50%;
    background: #F7FbF9;
    color: black;
    padding-top: 5%;
    font-weight: 550;
    border-radius: 13px;
}
.middle .left-btn p:nth-child(2){
    background: #E6F3F1;
    color: #6B7280;
}
.middle .right-sid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    font-weight: 550;
}

.form-cont{
    background: #fff;
    padding: 25px;
    border-radius: 13px;
}
.banner{
    width: 100%;
    display: flex;
    background: #34D399;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.banner p{
    font-size: 13px;
    font-weight: 300;
}
.banner p b{
    font-weight: 500;
}
form{
    padding-top: 20px;
}
form .lb{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}
.lb label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lb label p{
    font-size: 12px;
    color: #6B7280;
}
.lb label p:nth-child(1){
    font-size: 14px;
    color: #000;
    font-weight: 550;
}
.lb input{
    padding: 10px;
    border: none;
    background: #dddfde1f;
    border-radius: 5px;   
}
.lb input:focus{
    outline: 1px solid #34D399;
}

.mid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.mid p{
    font-size: 13px;
    color: #6B7280;
    color: #06B6A4;
}
.mid p:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B7280;
    gap: 5px;
}
.btn{
    padding: 10px 0px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.btn button{
    background: #06B6A4;
    border: none;
    padding: 11px 90px;
    border-radius: 10px;
    color: #fff;
    font-weight: 550;
    cursor: pointer;
    border: 1px solid #06B6A4;
    transition: .3s ease;
}
.btn button:hover{
    background: transparent;
    color: #06B6A4;
}
.btn p{
    font-size: 13px;
    cursor: pointer;
    text-transform: u;
}
.p{
    color: #6B7280;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}
.form-cont{
    box-shadow: 0px 0px 12px 12px #b8b6b610;
}
.animation{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation svg {
    filter: hue-rotate(640deg) saturate(3) brightness(0.9);
}
